<h3 *ngIf="!launch">Loading...</h3>
<div *ngIf="launch">
  <h1 [ngStyle]="{ color: launch.launch_success ? 'green' : 'red' }">
    #{{ launch.flight_number }}
  </h1>
  <div id="info">
    <img alt="Mission patch" src="{{ launch.links.mission_patch_small }}" />
    <div>
      <h3>Mission name: {{ launch.mission_name }}</h3>
      <p>Launch local date: {{ launch.launch_date_local | date: 'MMM dd, yyyy' }}</p>
      <p>Launch site: {{ launch.launch_site.site_name_long }}</p>
      <p>
        Launch success:
        <span [ngStyle]="{ color: launch.launch_success ? 'green' : 'red' }">{{
          launch.launch_success ? 'YES' : 'NO'
        }}</span>
      </p>
      <p>Rocket: {{ launch.rocket.rocket_name }}</p>
      <p>{{ launch.details }}</p>
    </div>
    <div>
      <h3>Links</h3>
      <a href="{{ launch.links.video_link }}" target="_blank" rel="noopener noreferer">
        <img class="icon" src="../../../assets/youtube.svg" />
      </a>
      <a href="{{ launch.links.wikipedia }}" target="_blank" rel="noopener noreferer">
        <img class="icon" src="../../../assets/wikipedia.svg" />
      </a>
    </div>
  </div>
  <div id="gallery" *ngIf="launch.links.flickr_images.length > 0">
    <img alt="Photo 1" src="{{ launch.links.flickr_images[0] }}" />
    <img alt="Photo 2" src="{{ launch.links.flickr_images[1] }}" />
    <img alt="Photo 3" src="{{ launch.links.flickr_images[2] }}" />
  </div>
  <p *ngIf="launch.links.flickr_images.length <= 0" style="margin-top: 6rem">
    No gallery available
  </p>
</div>
