<infinite-scroll (scrolled)="onScroll()">
  <div id="data">
    <div *ngFor="let item of data">
      <a class="item" [routerLink]="['/mission', item.flight_number]">
        <img alt="Mission patch" src="{{ item.links.mission_patch_small }}" />
        <div>
          <h3 [ngStyle]="{ color: item.launch_success ? 'green' : 'red' }">
            #{{ item.flight_number }}
          </h3>
          <h4>{{ item.mission_name }}</h4>
          <p>{{ item.launch_date_local | date: 'MMM dd, yyyy' }}</p>
          <p>{{ item.rocket.rocket_name }}</p>
        </div>
      </a>
    </div>
  </div>
  <!-- <ng-template #loading> -->
  <h3 *ngIf="isLoading">Loading...</h3>
  <!-- </ng-template> -->
</infinite-scroll>
